{% extends "base.html" %}

{% block title %}
لیست ارز ها
{% endblock %}

{% block main %}
<div class="container mt-5">
    <div class="card">
        <div class="card-header d-flex flex-row justify-content-start align-items-center">
            <input type="text" id="searchInput" onkeyup="filterTable()" class="form-control w-25 me-5" placeholder="جستجوی نماد...">
            <h5>برای مشاهده اطلاعات بیشتر روی ارز مورد نظر کلیک کنید.</h5>
        </div>
        <div class="card-body p-0">
            <div class="table-responsive">
                <table class="table table-striped table-hover" id="currencyTable">
                    <thead class="table-secondary">
                        <tr class="text-center">
                            <th>لوگو</th>
                            <th>نماد</th>
                            <th>نام</th>
                            <th>قیمت</th>
                            <th>تغییرات امروز</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider text-center">
                        {% for currency in currencies %}
                            <tr onclick="window.location.href='{% url 'currency_info' currency.symbol %}'" style="cursor:pointer;">
                                <td><img src="{{ currency.logo }}" alt="{{ currency.symbol }} logo" width="32" height="32"></td>
                                <td class="currency-symbol">{{ currency.symbol }}</td>
                                <td>{{ currency.name }}</td>
                                <td><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-currency-dollar" viewBox="0 0 16 16">
                                      <path d="M4 10.781c.148 1.667 1.513 2.85 3.591 3.003V15h1.043v-1.216c2.27-.179 3.678-1.438 3.678-3.3 0-1.59-.947-2.51-2.956-3.028l-.722-.187V3.467c1.122.11 1.879.714 2.07 1.616h1.47c-.166-1.6-1.54-2.748-3.54-2.875V1H7.591v1.233c-1.939.23-3.27 1.472-3.27 3.156 0 1.454.966 2.483 2.661 2.917l.61.162v4.031c-1.149-.17-1.94-.8-2.131-1.718zm3.391-3.836c-1.043-.263-1.6-.825-1.6-1.616 0-.944.704-1.641 1.8-1.828v3.495l-.2-.05zm1.591 1.872c1.287.323 1.852.859 1.852 1.769 0 1.097-.826 1.828-2.2 1.939V8.73z"/>
                                    </svg> {{ currency.price|floatformat:2 }}
                                </td>
                                <td class="{% if currency.change_today >= 0 %}text-success{% else %}text-danger{% endif %}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-percent" viewBox="0 0 16 16">
                                      <path d="M13.442 2.558a.625.625 0 0 1 0 .884l-10 10a.625.625 0 1 1-.884-.884l10-10a.625.625 0 0 1 .884 0M4.5 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5m7 6a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m0 1a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5"/>
                                    </svg> {{ currency.change_today|floatformat:2 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script>
function filterTable() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("searchInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("currencyTable");
    tr = table.getElementsByTagName("tr");

    for (i = 1; i < tr.length; i++) {
        td = tr[i].getElementsByClassName("currency-symbol")[0];
        if (td) {
            txtValue = td.textContent || td.innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
            } else {
                tr[i].style.display = "none";
            }
        }
    }
}
</script>
{% endblock %}
